<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #addairportForm="ngForm">
      <div class="form-group">
        <label for="airportCode">Airport Code</label>
        <input type="text" [(ngModel)]="airport.airportCode"
               class="form-control"
               id="airportCode"
               name="airportCode"
               placeholder="Enter Airport Code"
               required #airportCode="ngModel">
      </div>
      <div [hidden]="!airportCode.pristine" class="alert alert-danger">Airport Code is required</div>

      <div class="form-group">
        <label for="airportName">Airport Name</label>
        <input type="text" [(ngModel)]="airport.airportName"
               class="form-control"
               id="airportName"
               name="airportName"
               placeholder="Enter Airport Code"
               required #airportName="ngModel">
      </div>
      <div [hidden]="!airportName.pristine" class="alert alert-danger">Airport Name is required</div>

      <div class="form-group">
        <label for="airportLocation">Airport Location</label>
        <input type="text" [(ngModel)]="airport.airportLocation"
               class="form-control"
               id="airportLocation"
               name="airportLocation"
               placeholder="Enter Airport Location"
               required #airportLocation="ngModel">
      </div>
      <div [hidden]="!airportLocation.pristine" class="alert alert-danger">Airport Location is required</div>

      <button type="submit" [disabled]="!addairportForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
