<!--<app-user-panel></app-user-panel>-->

<!--<div class="row">-->
<!--  <div class="col d-flex justify-content-center">-->
<!--    <button (click)="allScheduledFlights()" class="btn btn-info mr-1" type="submit">All Flights</button>-->
<!--    <button (click)="searchScheduledFlight()" class="btn btn-info" type="submit">Search Fights</button>-->
<!--  </div>-->
<!--</div>-->

<!--<div *ngIf="showSelect" class="card my-5">-->
<!--  <div class="card-header"> Enter the Details to Search Flights</div>-->
<!--  <div class="card-body">-->
<!--    <table class="table table-bordered table-striped">-->
<!--      <thead class="thead-dark">-->
<!--      <tr>-->
<!--        <th scope="col">#</th>-->
<!--        <th scope="col">Board From</th>-->
<!--        <th scope="col">Going to</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let airport of airports; let i = index">-->
<!--        <td>{{i + 1}}</td>-->
<!--        <td (click)="setSourceAirport(i)" class="btn-outline-secondary">{{ airport.airportLocation}}</td>-->
<!--        <td (click)="setDestinationAirport(i)" class="btn-outline-secondary">{{ airport.airportLocation }}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    <div class="card-header"> Select a Time Span for the flights to be viewed.</div>-->
<!--    <form #loginForm="ngForm" (ngSubmit)="prepareSearch()">-->
<!--      <div class="form-group">-->
<!--        <label>Starting Date</label>-->
<!--        <input #dateFrom="ngModel" [(ngModel)]="d1"-->
<!--               class="form-control"-->
<!--               id="dateFrom"-->
<!--               name="dateFrom"-->
<!--               placeholder="Enter Date"-->
<!--               required type="date">-->
<!--      </div>-->
<!--      <div [hidden]="!dateFrom.pristine" class="alert alert-danger">Date is required</div>-->
<!--      <div class="form-group">-->
<!--        <label>Starting Date</label>-->
<!--        <input #dateTo="ngModel" [(ngModel)]="d2"-->
<!--               class="form-control"-->
<!--               id="dateTo"-->
<!--               name="dateTo"-->
<!--               placeholder="Enter Date"-->
<!--               required type="date">-->
<!--      </div>-->
<!--      <div [hidden]="!dateTo.pristine" class="alert alert-danger">Date is required</div>-->
<!--      <button [disabled]="!loginForm.form.valid" class="btn btn-info"-->
<!--              type="submit">Prepare Search-->
<!--      </button>-->
<!--    </form>-->
<!--    <div *ngIf="preparedSearch">-->
<!--      from{{arrivalAirport}}to{{departureAirport}}timespan&#45;&#45;from{{arrivalDate}}to{{departureDate}}-->
<!--      <button (click)="searchFlights()" class="btn btn-info" type="submit">Search Flights!</button>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div *ngIf="scheduledFlightsReady" class="container">-->
<!--  <div class="alert-success text-center font-weight-bolder pt-2 pb-2 mt-3 mb-3">-->
<!--    All available Scheduled Flights-->
<!--  </div>-->
<!--  <div class="row justify-content-center">-->
<!--    <div *ngFor="let scheduledFlight of scheduledFlights" class="card-deck col-sm-4">-->
<!--      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">-->
<!--        <div class="card-header">Fly with&nbsp;{{scheduledFlight.flight.carrierName}}</div>-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">From: &nbsp;-->
<!--            {{scheduledFlight.schedule.sourceAirport.airportLocation}}&nbsp;-->
<!--            to&nbsp;{{scheduledFlight.schedule.destinationAirport.airportLocation}}</h5>-->
<!--          <p class="card-text">Price: &nbsp;{{scheduledFlight.costPerTicket}}/-</p>-->
<!--          <p class="card-text">Available Seats: &nbsp;{{scheduledFlight.availableSeats}}</p>-->
<!--          <p class="card-text">Date: &nbsp;{{scheduledFlight.schedule.departureDate}}</p>-->
<!--          <p class="card-text">Time:&nbsp;{{scheduledFlight.schedule.departureTime}}</p>-->
<!--        </div>-->
<!--        <button (click)="setCurrentScheduledFlight(scheduledFlight)" class="btn btn-info" type="submit">Book-->
<!--          Tickets-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-admin-panel></app-admin-panel>
<section class="min-vh-100" id="cover">
  <div id="cover-caption">
    <div class="container">
      <h1 class="display-4 py-2 text-truncate text-center text-white"><b>MAKE BOOKING</b></h1>
      <div class="align-content-center text-center bg-transparent">
        <button (click)="allScheduledFlights()" class="btn btn-primary mt-2 mb-2 mr-2" type="submit">All Flights
        </button>
        <button (click)="searchScheduledFlight()" class="btn btn-primary mt-2 mb-2" type="submit">Search Fights</button>
      </div>

      <div *ngIf="!scheduledFlightsReady" class="row">
        <div *ngIf="showSelect" class=" my-5 col">
          <div class="card my-5">
            <div class="card-header text-center text-dark"><b>Search Flights</b></div>

            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Board From</th>
                <th scope="col">Going to</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let airport of airports; let i = index">
                <td (click)="setSourceAirport(i)" class="btn-outline-secondary">{{ airport.airportLocation}}</td>
                <td (click)="setDestinationAirport(i)" class="btn-outline-secondary">{{ airport.airportLocation }}</td>
              </tr>
              </tbody>
            </table>
            <table class="table table-bordered table-striped">
              <tbody>
              <tr>
                <td>Boarding Airport</td>
                <td>{{ arrivalAirportDisplay }}</td>
              </tr>
              <tr>
                <td>Landing Airport</td>
                <td>{{ destinationAirportDisplay }}</td>
              </tr>
              </tbody>
            </table>
            <form #loginForm="ngForm" (ngSubmit)="prepareSearch()">
              <div class="text-left form-group">
                <label class="ml-2"><b>Starting Date</b></label>
                <input #dateFrom="ngModel" [(ngModel)]="d1"
                       class="form-control"
                       id="dateFrom"
                       name="dateFrom"
                       placeholder="Enter Date"
                       required type="date">
              </div>
              <div [hidden]="!dateFrom.pristine" class="alert alert-danger">Date is required</div>
              <div class="text-left form-group">
                <label class="ml-2"><b>Starting Date</b></label>
                <input #dateTo="ngModel" [(ngModel)]="d2"
                       class="form-control"
                       id="dateTo"
                       name="dateTo"
                       placeholder="Enter Date"
                       required type="date">
              </div>
              <div [hidden]="!dateTo.pristine" class="alert alert-danger">Date is required</div>
              <button (click)="searchFlights()" [disabled]="!(loginForm.form.valid
                                              && !(arrivalAirportDisplay == 'Select Boarding Airport')
                                              && !(destinationAirportDisplay == 'Select Landing Airport'))"
                      class="btn btn-primary" type="submit">Search Flights!
              </button>
            </form>

          </div>
        </div>
      </div>


      <div *ngIf="scheduledFlightsReady" class="row text-left align-content-center mt-3 ml-4">

        <div *ngFor="let scheduledFlight of scheduledFlights" class="card-deck col ">
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Fly with&nbsp;{{scheduledFlight.flight.carrierName}}</div>
            <div class="card-body">
              <h5 class="card-title">From: &nbsp;
                {{scheduledFlight.schedule.sourceAirport.airportLocation}}&nbsp;
                to&nbsp;{{scheduledFlight.schedule.destinationAirport.airportLocation}}</h5>
              <p class="card-text">Price: &nbsp;{{scheduledFlight.costPerTicket}}/-</p>
              <p class="card-text">Available Seats: &nbsp;{{scheduledFlight.availableSeats}}</p>
              <p class="card-text">Date: &nbsp;{{scheduledFlight.schedule.departureDate}}</p>
              <p class="card-text">Time:&nbsp;{{scheduledFlight.schedule.departureTime}}</p>
            </div>
            <button (click)="setCurrentScheduledFlight(scheduledFlight)" class="btn btn-info" type="submit">Book
              Tickets
            </button>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
