<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">
    <img alt="" class="d-inline-block align-top" height="30" src="../../assets/images/icon.png" width="30">
    {{title}}
  </a>

  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0 mr-1" routerLink="/signupsuccess" type="submit">All Users
    </button>
    <button (click)="changeLoginState(false)" [hidden]="!loginStatus" class="btn btn-outline-success my-2 my-sm-0" routerLink="/"
            type="submit">Logout
    </button>
    <button (click)="loginStatus = true" [hidden]="loginStatus" class="btn btn-outline-success my-2 my-sm-0 mr-1" routerLink="/login"
            type="submit">Login
    </button>
    <button [hidden]="loginStatus" class="btn btn-outline-success my-2 my-sm-0" routerLink="/signup" type="submit">Sign
      Up
    </button>
  </form>
</nav>
