<app-admin-panel></app-admin-panel>
<section class="min-vh-100" id="cover">
  <div id="cover-caption">
    <div class="container">
      <h1 class="display-4 py-2 text-truncate text-center text-white"><b>FLIGHTS</b></h1>
      <div class="row">


        <div class=" my-5 col">
          <div class="card my-5">
            <div class="card-header text-center text-dark"><b>Flight List</b></div>
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Flight Number</th>
                <th scope="col">Carrier Name</th>
              </tr>
              </thead>
              <tbody>
              <tr (click)="showFlightDetails(i)" *ngFor="let flight of flights; let i = index">
                <td>{{i + 1}}</td>
                <td>{{ flight.flightNumber }}</td>
                <td>{{ flight.carrierName }}</td>
              </tr>
              </tbody>
            </table>
            <div>
              <button (click)="showAddFlight()" class="btn btn-primary" type="submit">Add Flight</button>

            </div>

          </div>
        </div>

        <div *ngIf="showDetails" class="my-5 col">
          <div class="card my-5">
            <div class="card-header text-center text-dark"><b>Airport Details</b></div>
            <table class="table table-bordered table-striped">
              <tbody>
              <tr>
                <td>Flight Number</td>
                <td>{{currentFlight.flightNumber}}</td>
              </tr>
              <tr>
                <td>Carrier Name</td>
                <td>{{currentFlight.carrierName}}</td>
              </tr>
              <tr>
                <td>Aircraft Model</td>
                <td>{{currentFlight.flightModel}}</td>
              </tr>
              <tr>
                <td>Seat Capacity</td>
                <td>{{currentFlight.seatCapacity}}</td>
              </tr>
              </tbody>
            </table>
            <div>
              <button (click)="deleteFlight()" class="btn btn-danger mr-1" type="submit">Delete Flight</button>
              <button (click)="showUpdateFlight()" class="btn btn-primary" type="submit">Update Flight</button>
            </div>
          </div>
        </div>

        <div *ngIf="showUpdate" class="my-5 col">
          <div class="card my-5">
            <div class="card-header text-center text-dark"><b> Update Airport Details</b></div>
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Flight Number</th>
                <th scope="col">Carrier Name</th>
                <th scope="col">Aircraft Model</th>
                <th scope="col">Seat Capacity</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{ currentFlight.flightNumber}}</td>
                <td><input [(ngModel)]="currentFlight.carrierName"></td>
                <td><input [(ngModel)]="currentFlight.flightModel"></td>
                <td><input [(ngModel)]="currentFlight.seatCapacity"></td>
              </tr>
              </tbody>
            </table>

            <div>
              <button (click)="updateFlight()" class="btn btn-primary" type="submit">Confirm & Update Flight</button>
            </div>
          </div>
        </div>

        <div *ngIf="showAdd" class="my-5 col">
          <div class="card my-5">
            <form #addFlightForm="ngForm" (ngSubmit)="addFlight()" *ngIf="showAdd">
              <div class="card-header text-center font-weight-bolder">Enter Flight Details</div>
              <div class="text-left form-group">
                <label class="ml-2" for="carrierName"><b>Carrier Name</b></label>
                <input #carrierName="ngModel" [(ngModel)]="currentFlight.carrierName"
                       class="form-control"
                       id="carrierName"
                       name="carrierName"
                       placeholder="Enter Carrier Name"
                       required type="text">
              </div>
              <div [hidden]="carrierName.valid || carrierName.pristine" class="alert alert-danger">Carrier Name is
                required
              </div>

              <div class="text-left form-group">
                <label class="ml-2" for="flightModel"><b>Aircraft Model</b></label>
                <input #flightModel="ngModel" [(ngModel)]="currentFlight.flightModel"
                       class="form-control"
                       id="flightModel"
                       name="flightModel"
                       placeholder="Enter Aircraft Model"
                       required type="text">
              </div>
              <div [hidden]="flightModel.valid || flightModel.pristine" class="alert alert-danger">Aircraft Model is
                required
              </div>

              <div class="text-left form-group">
                <label class="ml-2" for="seatCapacity"><b>Seat Capacity</b></label>
                <input #seatCapacity="ngModel" [(ngModel)]="currentFlight.seatCapacity"
                       class="form-control"
                       id="seatCapacity"
                       name="seatCapacity"
                       placeholder="Enter Seat Capacity"
                       required type="number">
              </div>
              <div [hidden]="seatCapacity.valid || seatCapacity.pristine" class="alert alert-danger">Seat Capacity is
                required
              </div>

              <button [disabled]="!addFlightForm.form.valid" class="btn btn-primary"
                      type="submit">Submit
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
