<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Airport Code</th>
        <th scope="col">Airport Name</th>
        <th scope="col">Airport Location</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let airport of airports; let i = index">
        <td>{{i+1}}</td>
        <td>{{ airport.airportCode }}</td>
        <td>{{ airport.airportName }}</td>
        <td>{{ airport.airportLocation}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
