<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">
    <img alt="" class="d-inline-block align-top" height="30" src="../../assets/images/namaste.png" width="30">
    Welcome&nbsp;{{currentUser.userName}}
  </a>

  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0 mr-1" routerLink="/userpanel/account" type="submit">Account
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0 mr-1" routerLink="/userpanel/bookings" type="submit">View
      Bookings
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0 mr-1" routerLink="/userpanel/makebookings" type="submit">Make
      Bookings
    </button>
  </form>
</nav>


