<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="src/assets/pics/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Welcome&nbsp;{{currentUser.userName}}
  </a>

  <form class="form-inline">
    <button routerLink="/userpanel/account" class="btn btn-outline-success my-2 my-sm-0 mr-1" type="submit" >Account</button>
    <button routerLink="/userpanel/bookings" class="btn btn-outline-success my-2 my-sm-0 mr-1" type="submit" >View Bookings</button>
    <button routerLink="/userpanel/makebookings" class="btn btn-outline-success my-2 my-sm-0 mr-1" type="submit" >Make Bookings</button>
  </form>
</nav>


