<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" routerLink="/adminpanel">
    <img alt="" class="d-inline-block align-top" height="30" src="../../assets/images/namaste.png" width="30">
    Welcome&nbsp;{{currentUser.userName}}
  </a>

  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0 mr-1" routerLink="/adminpanel/account" type="submit">Account
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0 mr-1" routerLink="/adminpanel/bookings" type="submit">Bookings
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0 mr-1" routerLink="/adminpanel/airports" type="submit">Airports
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0 mr-1" routerLink="/adminpanel/flights" type="submit">Flights
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0 mr-1" routerLink="/adminpanel/scheduedflights" type="submit">
      Scheduled Flights
    </button>
  </form>
</nav>


