<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="src/assets/pics/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Welcome&nbsp;{{currentUser.userName}}
  </a>

  <form class="form-inline">
    <button routerLink="/adminpanel/account" class="btn btn-outline-success my-2 my-sm-0 mr-1" type="submit" >Account</button>
    <button routerLink="/adminpanel/bookings" class="btn btn-outline-success my-2 my-sm-0 mr-1" type="submit" >Bookings</button>
    <button routerLink="/adminpanel/airports" class="btn btn-outline-success my-2 my-sm-0 mr-1" type="submit" >Airports</button>
    <button routerLink="/adminpanel/flights" class="btn btn-outline-success my-2 my-sm-0 mr-1" type="submit" >Flights</button>
    <button routerLink="/adminpanel/scheduedflights" class="btn btn-outline-success my-2 my-sm-0 mr-1" type="submit" >Scheduled Flights</button>
  </form>
</nav>


