<app-admin-panel></app-admin-panel>

<div class="container-fluid">
  <div class="row">

    <div class="card my-5 col-sm-3 col-md-6 col-lg-4">

      <div *ngIf="!showScheduledFlights">
        <div class="card-header alert-danger font-weight-bolder text-center">No Scheduled Flight available.</div>
      </div>

      <div *ngIf="showScheduledFlights" class="card-body">
        <div class="card-header alert-success font-weight-bolder text-center">List of Available Scheduled Flights.</div>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Carrier Name</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Date</th>
          </tr>
          </thead>
          <tbody>
          <tr (click)="getCurrentScheduledFlight(i)" *ngFor="let scheduledFlight of scheduledFlights; let i = index">
            <td>{{i+1}}</td>
            <td>{{ scheduledFlight.scheduleFlightId }}</td>
            <td>{{ scheduledFlight.flight.carrierName }}</td>
            <td>{{ scheduledFlight.schedule.sourceAirport.airportLocation }}</td>
            <td>{{ scheduledFlight.schedule.destinationAirport.airportLocation }}</td>
            <td>{{ scheduledFlight.schedule.arrivalDate }}</td>
          </tr>
          </tbody>
        </table>
        <div>
          <button (click)="showAddScheduledFlight()" type="submit" class="btn btn-info mr-1">Add Flight</button>
          <hr>

          <div *ngIf="showAdd">
            <div class="card-header text-center font-weight-bolder">Enter Flight Details</div>
            <hr>

            <div class="card-header text-center font-weight-bolder">Select Airports</div>
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Boarding</th>
                <th scope="col">Landing</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let airport of airports; let i = index">
                <td (click)="getArrivalAirport(i)">{{ airport.airportLocation }}</td>
                <td (click)="getDepartureAirport(i)">{{ airport.airportLocation}}</td>
              </tr>
              </tbody>
            </table>
          </div>
            <hr>

          <div *ngIf="showAdd">
            <div class="card-header text-center font-weight-bolder">Select Flight</div>
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Carrier Name</th>
                <th scope="col">Aircraft Model</th>
              </tr>
              </thead>
              <tbody>
              <tr (click)="getFlight(i)" *ngFor="let flight of flights; let i = index">
                <td>{{ flight.carrierName }}</td>
                <td>{{ flight.flightModel }}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <hr>
          <table *ngIf="showAdd" class="table table-bordered table-striped">
            <tbody>
            <tr>
              <td>Boarding Airport</td>
              <td>{{ arrivalAirportDisplay }}</td>
            </tr>
            <tr>
              <td>Landing Airport</td>
              <td>{{ destinationAirportDisplay }}</td>
            </tr>
            <tr>
              <td>Flight</td>
              <td>{{ flightDisplay }}</td>
            </tr>
            </tbody>
          </table>
          <hr>

          <form *ngIf="showAdd" (ngSubmit)="addScheduledFlight()" #addScheduledFlightForm="ngForm">

            <div class="form-group">
              <label for="costPerTicket">Cost per ticket</label>
              <input type="number" [(ngModel)]="currentScheduledFlight.costPerTicket"
                     class="form-control"
                     id="costPerTicket"
                     name="costPerTicket"
                     placeholder="Enter Cost per ticket"
                     required #costPerTicket="ngModel">
            </div>
            <div [hidden]="!costPerTicket.pristine" class="alert alert-danger">Cost per ticket is required</div>

            <div class="form-group">
              <label for="arrivalDate">Boarding Date</label>
              <input type="Date" [(ngModel)]="d1"
                     class="form-control"
                     id="arrivalDate"
                     name="arrivalDate"
                     placeholder="Enter Boarding Date"
                     required #arrivalDate="ngModel">
            </div>
            <div [hidden]="!arrivalDate.pristine" class="alert alert-danger">Boarding Date is required</div>

            <div class="form-group">
              <label for="departureDate">Landing Date</label>
              <input type="Date" [(ngModel)]="d2"
                     class="form-control"
                     id="departureDate"
                     name="departureDate"
                     placeholder="Enter Landing Date"
                     required #departureDate="ngModel">
            </div>
            <div [hidden]="!departureDate.pristine" class="alert alert-danger">Landing Date is required</div>

            <div class="form-group">
              <label for="arrivalTime">Boarding Time</label>
              <input type="text" [(ngModel)]="currentScheduledFlight.schedule.arrivalTime"
                     class="form-control"
                     id="arrivalTime"
                     name="arrivalTime"
                     placeholder="Enter Boarding Time"
                     required #arrivalTime="ngModel">
            </div>
            <div [hidden]="!arrivalTime.pristine" class="alert alert-danger">Boarding Time is required</div>

            <div class="form-group">
              <label for="departureTime">Landing Time</label>
              <input type="text" [(ngModel)]="currentScheduledFlight.schedule.departureTime"
                     class="form-control"
                     id="departureTime"
                     name="departureTime"
                     placeholder="Enter Landing Time"
                     required #departureTime="ngModel">
            </div>
            <div [hidden]="!departureTime.pristine" class="alert alert-danger">Landing Time is required</div>

            <button type="submit" [disabled]="!addScheduledFlightForm.form.valid"
                    class="btn btn-info">Submit & Schedule Flight</button>
          </form>
        </div>
      </div>


    </div>

    <div  class="card my-5 col-sm-9 col-md-6 col-lg-8">
      <div *ngIf="showDetails" class="card-body">
        <div class="card-header alert-success font-weight-bolder text-center">Scheduled Flight Details</div>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">

          <tr>
            <th scope="col">#</th>
            <th scope="col">Field</th>
            <th scope="col">Value</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Scheduled Flight Id</td>
            <td>{{currentScheduledFlight.scheduleFlightId}}</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Available Seats</td>
            <td>{{currentScheduledFlight.availableSeats}}</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Cost Per Ticket</td>
            <td>{{currentScheduledFlight.costPerTicket}}</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Boarding Airport Code</td>
            <td>{{currentScheduledFlight.schedule.sourceAirport.airportCode}}</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Boarding Airport Name</td>
            <td>{{currentScheduledFlight.schedule.sourceAirport.airportName}}</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Boarding Airport Location</td>
            <td>{{currentScheduledFlight.schedule.sourceAirport.airportLocation}}</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Landing Airport Code</td>
            <td>{{currentScheduledFlight.schedule.destinationAirport.airportCode}}</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Landing Airport Name</td>
            <td>{{currentScheduledFlight.schedule.destinationAirport.airportName}}</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Landing Airport Location</td>
            <td>{{currentScheduledFlight.schedule.destinationAirport.airportLocation}}</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Boarding Date</td>
            <td>{{currentScheduledFlight.schedule.arrivalDate}}</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Boarding Time</td>
            <td>{{currentScheduledFlight.schedule.arrivalTime}}</td>
          </tr>
          <tr>
            <td>12</td>
            <td>Landing Date</td>
            <td>{{currentScheduledFlight.schedule.departureDate}}</td>
          </tr>
          <tr>
            <td>13</td>
            <td>Landing Time</td>
            <td>{{currentScheduledFlight.schedule.departureTime}}</td>
          </tr>
          <tr>
            <td>14</td>
            <td>Flight Id</td>
            <td>{{currentScheduledFlight.flight.flightNumber}}</td>
          </tr>
          <tr>
            <td>15</td>
            <td>Carrier Name</td>
            <td>{{currentScheduledFlight.flight.carrierName}}</td>
          </tr>
          <tr>
            <td>16</td>
            <td>Seat Capacity of Aircraft</td>
            <td>{{currentScheduledFlight.flight.seatCapacity}}</td>
          </tr>
          <tr>
            <td>17</td>
            <td>Aircraft Model</td>
            <td>{{currentScheduledFlight.flight.flightModel}}</td>
          </tr>
          </tbody>
        </table>
        <button (click)="deleteScheduledFlight()" type="submit" class="btn btn-danger mr-1">Delete Scheduled Flight</button>
        <button (click)="showUpdateScheduledFlight()" type="submit" class="btn btn-info">Update Scheduled Flight</button>


      </div>
    </div>

  </div>
  <div *ngIf="showUpdate">

    <div class="card-header alert-success font-weight-bolder text-center">Update Scheduled Flight Details</div>

    <div>
      <div class="card-header text-center font-weight-bolder">Select Updated Airports</div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Boarding</th>
          <th scope="col">Landing</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let airport of airports; let i = index">
          <td (click)="getArrivalAirport(i)">{{ airport.airportLocation }}</td>
          <td (click)="getDepartureAirport(i)">{{ airport.airportLocation}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <div class="card-header text-center font-weight-bolder">Select Updated Flight</div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Carrier Name</th>
          <th scope="col">Aircraft Model</th>
        </tr>
        </thead>
        <tbody>
        <tr (click)="getFlight(i)" *ngFor="let flight of flights; let i = index">
          <td>{{ flight.carrierName }}</td>
          <td>{{ flight.flightModel }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <td>Boarding Airport</td>
        <td>{{ arrivalAirportDisplay }}</td>
      </tr>
      <tr>
        <td>Landing Airport</td>
        <td>{{ destinationAirportDisplay }}</td>
      </tr>
      <tr>
        <td>Flight</td>
        <td>{{ flightDisplay }}</td>
      </tr>
      </tbody>
    </table>
    <hr>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Cost Per Ticket</th>
        <th scope="col">Available Seats</th>
        <th scope="col">Boarding Date</th>
        <th scope="col">Boarding Time</th>
        <th scope="col">Landing Date</th>
        <th scope="col">Landing Time</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input [(ngModel)]="currentScheduledFlight.costPerTicket"></td>
        <td><input [(ngModel)]="currentScheduledFlight.availableSeats"></td>
        <td><input [(ngModel)]="currentScheduledFlight.schedule.arrivalDate"></td>
        <td><input [(ngModel)]="currentScheduledFlight.schedule.arrivalTime"></td>
        <td><input [(ngModel)]="currentScheduledFlight.schedule.departureDate"></td>
        <td><input [(ngModel)]="currentScheduledFlight.schedule.departureTime"></td>
      </tr>
      </tbody>
    </table>
    <button  (click)="updateScheduledFlight()" type="submit" class="btn btn-info mr-1">Confirm & Update Scheduled Flight</button>

  </div>
</div>

