<app-admin-panel></app-admin-panel>
<section class="min-vh-100" id="cover">
  <div id="cover-caption">
    <div class="container">
      <h1 class="display-4 py-2 text-truncate text-center text-white"><b>SCHEDULE</b></h1>
      <div class="row">


        <div class=" my-5 col">
          <div class="card my-5">
            <div class="card-header text-center text-dark"><b>Scheduled Flights</b></div>
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Carrier Name</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Date</th>
              </tr>
              </thead>
              <tbody>
              <tr (click)="getCurrentScheduledFlight(i)"
                  *ngFor="let scheduledFlight of scheduledFlights; let i = index">
                <td>{{i + 1}}</td>
                <td>{{ scheduledFlight.scheduleFlightId }}</td>
                <td>{{ scheduledFlight.flight.carrierName }}</td>
                <td>{{ scheduledFlight.schedule.sourceAirport.airportLocation }}</td>
                <td>{{ scheduledFlight.schedule.destinationAirport.airportLocation }}</td>
                <td>{{ scheduledFlight.schedule.arrivalDate }}</td>
              </tr>
              </tbody>
            </table>
            <div>
              <button (click)="showAddScheduledFlight()" class="btn btn-primary mb-2" type="submit">Add Flight</button>
            </div>

          </div>
        </div>

        <div *ngIf="showDetails" class="my-5 col">
          <div class="card my-5">
            <div class="card-header text-center text-dark"><b>Scheduled Flight Details</b></div>
            <table class="table table-bordered table-striped">
              <tbody>
              <tr>
                <td>Scheduled Flight Id</td>
                <td>{{currentScheduledFlight.scheduleFlightId}}</td>
              </tr>
              <tr>
                <td>Available Seats</td>
                <td>{{currentScheduledFlight.availableSeats}}</td>
              </tr>
              <tr>
                <td>Cost Per Ticket</td>
                <td>{{currentScheduledFlight.costPerTicket}}</td>
              </tr>
              <tr>
                <td>Boarding Airport Code</td>
                <td>{{currentScheduledFlight.schedule.sourceAirport.airportCode}}</td>
              </tr>
              <tr>
                <td>Boarding Airport Name</td>
                <td>{{currentScheduledFlight.schedule.sourceAirport.airportName}}</td>
              </tr>
              <tr>
                <td>Boarding Airport Location</td>
                <td>{{currentScheduledFlight.schedule.sourceAirport.airportLocation}}</td>
              </tr>
              <tr>
                <td>Landing Airport Code</td>
                <td>{{currentScheduledFlight.schedule.destinationAirport.airportCode}}</td>
              </tr>
              <tr>
                <td>Landing Airport Name</td>
                <td>{{currentScheduledFlight.schedule.destinationAirport.airportName}}</td>
              </tr>
              <tr>
                <td>Landing Airport Location</td>
                <td>{{currentScheduledFlight.schedule.destinationAirport.airportLocation}}</td>
              </tr>
              <tr>
                <td>Boarding Date</td>
                <td>{{currentScheduledFlight.schedule.arrivalDate}}</td>
              </tr>
              <tr>
                <td>Boarding Time</td>
                <td>{{currentScheduledFlight.schedule.arrivalTime}}</td>
              </tr>
              <tr>
                <td>Landing Date</td>
                <td>{{currentScheduledFlight.schedule.departureDate}}</td>
              </tr>
              <tr>
                <td>Landing Time</td>
                <td>{{currentScheduledFlight.schedule.departureTime}}</td>
              </tr>
              <tr>
                <td>Flight Id</td>
                <td>{{currentScheduledFlight.flight.flightNumber}}</td>
              </tr>
              <tr>
                <td>Carrier Name</td>
                <td>{{currentScheduledFlight.flight.carrierName}}</td>
              </tr>
              <tr>
                <td>Seat Capacity of Aircraft</td>
                <td>{{currentScheduledFlight.flight.seatCapacity}}</td>
              </tr>
              <tr>
                <td>Aircraft Model</td>
                <td>{{currentScheduledFlight.flight.flightModel}}</td>
              </tr>
              </tbody>
            </table>
            <div>
              <button
                (click)="deleteScheduledFlight()" class="btn btn-danger mt-2 mb-2 mr-2" type="submit">Delete Scheduled
                Flight
              </button>
              <button
                (click)="showUpdateScheduledFlight()" class="btn btn-info mt-2 mb-2" type="submit">Update Scheduled
                Flight
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="showUpdate" class="my-5 col">
          <div class="card my-5">
            <div class="card-header text-center text-dark"><b> Update Scheduled Flight Details</b></div>
            <div>
              <div class="card-header text-center font-weight-bolder">Select Updated Airports</div>
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Boarding</th>
                  <th scope="col">Landing</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let airport of airports; let i = index">
                  <td (click)="getArrivalAirport(i)" class="btn-outline-secondary">{{ airport.airportLocation }}</td>
                  <td (click)="getDepartureAirport(i)" class="btn-outline-secondary">{{ airport.airportLocation}}</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div>
              <div class="card-header text-center font-weight-bolder">Select Updated Flight</div>
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Carrier Name</th>
                  <th scope="col">Aircraft Model</th>
                </tr>
                </thead>
                <tbody>
                <tr (click)="getFlight(i)" *ngFor="let flight of flights; let i = index" class="btn-outline-secondary">
                  <td>{{ flight.carrierName }}</td>
                  <td>{{ flight.flightModel }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <table class="table table-bordered table-striped">
              <tbody>
              <tr>
                <td>Boarding Airport</td>
                <td>{{ arrivalAirportDisplay }}</td>
              </tr>
              <tr>
                <td>Landing Airport</td>
                <td>{{ destinationAirportDisplay }}</td>
              </tr>
              <tr>
                <td>Flight</td>
                <td>{{ flightDisplay }}</td>
              </tr>
              </tbody>
            </table>
            <hr>
            <table class="table table-bordered table-striped">
              <tbody>
              <tr>
                <td><b>Cost Per Ticket</b></td>
                <td><b>Available Seats</b></td>
                <td><b>Boarding Date</b></td>
              </tr>
              <tr>
                <td><input [(ngModel)]="currentScheduledFlight.costPerTicket"></td>
                <td><input [(ngModel)]="currentScheduledFlight.availableSeats"></td>
                <td><input [(ngModel)]="currentScheduledFlight.schedule.arrivalDate"></td>
              </tr>
              <tr>
                <td><b>Boarding Time</b></td>
                <td><b>Landing Date</b></td>
                <td><b>Landing Time</b></td>
              </tr>
              <tr>
                <td><input [(ngModel)]="currentScheduledFlight.schedule.arrivalTime"></td>
                <td><input [(ngModel)]="currentScheduledFlight.schedule.departureDate"></td>
                <td><input [(ngModel)]="currentScheduledFlight.schedule.departureTime"></td>
              </tr>
              </tbody>
            </table>

            <div>
              <button (click)="updateScheduledFlight()" class="btn btn-primary mt-2 mb-2" type="submit">Confirm</button>
            </div>
          </div>
        </div>

        <div *ngIf="showAdd" class="my-5 col">
          <div class="card my-5">
            <div>
              <div class="card-header text-center font-weight-bolder">Enter Flight Details</div>
              <hr>

              <div class="card-header text-center font-weight-bolder">Select Airports</div>
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Boarding</th>
                  <th scope="col">Landing</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let airport of airports; let i = index">
                  <td (click)="getArrivalAirport(i)" class="btn-outline-secondary">{{ airport.airportLocation }}</td>
                  <td (click)="getDepartureAirport(i)" class="btn-outline-secondary">{{ airport.airportLocation}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <hr>

            <div>
              <div class="card-header text-center font-weight-bolder">Select Flight</div>
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Carrier Name</th>
                  <th scope="col">Aircraft Model</th>
                </tr>
                </thead>
                <tbody>
                <tr (click)="getFlight(i)" *ngFor="let flight of flights; let i = index" class="btn-outline-secondary">
                  <td>{{ flight.carrierName }}</td>
                  <td>{{ flight.flightModel }}</td>
                </tr>
                </tbody>
              </table>
            </div>

            <table class="table table-bordered table-striped">
              <tbody>
              <tr>
                <td>Boarding Airport</td>
                <td>{{ arrivalAirportDisplay }}</td>
              </tr>
              <tr>
                <td>Landing Airport</td>
                <td>{{ destinationAirportDisplay }}</td>
              </tr>
              <tr>
                <td>Flight</td>
                <td>{{ flightDisplay }}</td>
              </tr>
              </tbody>
            </table>

            <form #addScheduledFlightForm="ngForm" (ngSubmit)="addScheduledFlight()">

              <div class="form-group">
                <label for="costPerTicket">Cost per ticket</label>
                <input #costPerTicket="ngModel" [(ngModel)]="currentScheduledFlight.costPerTicket"
                       class="form-control"
                       id="costPerTicket"
                       name="costPerTicket"
                       placeholder="Enter Cost per ticket"
                       required type="number">
              </div>
              <div [hidden]="costPerTicket.valid || costPerTicket.pristine" class="alert alert-danger">Cost per ticket
                is required
              </div>

              <div class="form-group">
                <label for="arrivalDate">Boarding Date</label>
                <input #arrivalDate="ngModel" [(ngModel)]="d1"
                       class="form-control"
                       id="arrivalDate"
                       name="arrivalDate"
                       placeholder="Enter Boarding Date"
                       required type="Date">
              </div>
              <div [hidden]="arrivalDate.valid || arrivalDate.pristine">Boarding Date is required</div>

              <div class="form-group">
                <label for="departureDate">Landing Date</label>
                <input #departureDate="ngModel" [(ngModel)]="d2"
                       class="form-control"
                       id="departureDate"
                       name="departureDate"
                       placeholder="Enter Landing Date"
                       required type="Date">
              </div>
              <div [hidden]="departureDate.valid || departureDate.pristine" class="alert alert-danger">Landing Date is
                required
              </div>

              <div class="form-group">
                <label for="arrivalTime">Boarding Time</label>
                <input #arrivalTime="ngModel" [(ngModel)]="currentScheduledFlight.schedule.arrivalTime"
                       class="form-control"
                       id="arrivalTime"
                       name="arrivalTime"
                       placeholder="Enter Boarding Time"
                       required type="text">
              </div>
              <div [hidden]="arrivalTime.valid || arrivalTime.pristine" class="alert alert-danger">Boarding Time is
                required
              </div>

              <div class="form-group">
                <label for="departureTime">Landing Time</label>
                <input #departureTime="ngModel" [(ngModel)]="currentScheduledFlight.schedule.departureTime"
                       class="form-control"
                       id="departureTime"
                       name="departureTime"
                       placeholder="Enter Landing Time"
                       required type="text">
              </div>
              <div [hidden]="departureTime.valid || departureTime.pristine" class="alert alert-danger">Landing Time is
                required
              </div>

              <button [disabled]="!(addScheduledFlightForm.form.valid
                                              && !(arrivalAirportDisplay == 'Select Boarding Airport')
                                              && !(destinationAirportDisplay == 'Select Landing Airport')
                                              && !(flightDisplay == 'Select Flight'))" class="btn btn-primary mt-2 mb-2"
                      type="submit">Submit
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
